        <!-- Footer -->
        <footer id="footer">
            <div class="inner">
                <section>
                    <h2>Get in touch</h2>
                    <form method="POST" data-netlify="true" onSubmit="alert('Thank you! Will email you back soon!');">
                        <div class="fields">
                            <div class="field half">
                                <input type="text" name="name" id="name" placeholder="Name" />
                            </div>
                            <div class="field half">
                                <input type="email" name="email" id="email" placeholder="Email" />
                            </div>
                            <div class="field">
                                <textarea name="message" id="message" placeholder="Message"></textarea>
                            </div>
                        </div>
                        <ul class="actions">
                            <li><input type="submit" value="Send" class="primary" /></li>
                        </ul>
                    </form>
                </section>
                <section>
                    <h2>Follow</h2>
                    <ul class="icons">
                        <li><a href="{{ site.twitter }}" target="_blank" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="{{ site.medium }}" target="_blank" class="icon brands style2 fa-github"><span class="label">Medium</span></a></li>
                        <li><a href="{{ site.linkedin }}" target="_blank" class="icon brands style2 fa-linkedin"><span class="label">Linkedin</span></a></li>
                    </ul>
                </section>
            </div>
        </footer>