        <!-- Footer -->
        <footer id="footer">
            <div class="inner">
                <section>
                    <h2>Get in touch</h2>
                    <form   action="https://formspree.io/f/xrgollkp"
  method="POST">
                        <div class="fields">
                            <div class="field half">
                                <input type="text" name="person_name" id="name" placeholder="Name" required/>
                            </div>
                            <div class="field half">
                                <input type="email" name="_replyto" id="email" placeholder="Email" required/>
                            </div>
                            <div class="field">
                                <textarea name="message" id="message" placeholder="Message" required></textarea>
                            </div>
                        </div>
                        <ul class="actions">
                            <li><button type="submit" class="primary" style="letter-spacing: normal;"/>Send</button></li>
                        </ul>
                    </form>
                </section>
                <section>
                    <h2>Follow</h2>
                    <ul class="icons">
                        <li><a href="{{ site.twitter }}" target="_blank" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="{{ site.medium }}" target="_blank" class="icon brands style2 fa-github"><span class="label">Medium</span></a></li>
                        <li><a href="{{ site.linkedin }}" target="_blank" class="icon brands style2 fa-linkedin"><span class="label">Linkedin</span></a></li>
                    </ul>
                </section>
            </div>
        </footer>